@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration:none;
}
header{
    height:100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 70px;
}
#logo{
    max-width:195px;
    height:65px;
}
#location{
    font-size:20px;
    text-align:center;
    color:black;
}
#location:hover,#login:hover{
    color:rgb(79,173,33);
}
.nav input{
    border:none;
    width:600px;
    padding:10px;
    border-radius:20px;
    font-size:20px;
    background-color:rgb(238,238,238);
}

.nav button{
    border:none;
    margin-right:150px;
    padding:8px;
    width:100px;
    font-size:20px;
    border-radius:20px;
    background-color:rgb(79,173,33);
    cursor:pointer;
}

#login{
    font-size:20px;
    color:black;
}
#bag{
    font-size:30px;
}
#bag:hover{
    color:rgb(79,173,33);
}

.linkpg{
    display:flex;
    justify-content:center;
    align-items:center;
    list-style:none;
}
.linkname{
    font-size:20px;
    padding:10px 20px;
    cursor:pointer;
}
.linkname:hover{
    color:rgb(79,173,33);
}
.title{
    text-align:center;
    padding:15px;
    font-size:25px;
}

.scroll{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    background-color:rgb(235, 226, 226);
    
}
.scrollprt{
    flex-grow:1;
    width:12.95%;
    height:400px;
    background-color:white;
    padding:20px;
    margin:15px 7px;
    border-radius:6px;
}
.scrollimg{
    width:100%;
    height:220px;
   
}

.scrollprt p{
    text-align:center;
    margin-top:30px;
    text-transform:capitalize;
    font-size:16px;
}
.scrollprt select,option{
    width:100%;
    margin:20px auto;
    padding:10px;
    font-size:15px;
    border-radius:6px;
    border:1px solid rgba(0,0,0,0.5);
    cursor:pointer;
}
.cost{
    color:rgb(79,173,33);
}
.delcost{
    color:rgb(133,133,133);
}
#viewall{
    width:150px;
    height:40px;
    display:block;
    margin:20px auto;
    padding:5px 15px ;
    font-size:25px;
    border-radius:6px;
    text-transform:capitalize;
    border:none;
    background-color:rgb(79,173,33);
    cursor:pointer;
}
.cat-container{
    display:flex;
    flex-direction:row;
    gap:25px;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.catbox{
    width:10.955%;
    height:270px;
    background-color:white;
}
.catprt{
    width:100%;
    height:170px;
    object-fit:content;
}

.cat-container p{
    text-align:center;
    margin-top:30px;
    text-transform:capitalize;
    font-size:17px;
}

.banner{
    width:100%;
    display:flex;
}

.footer{
    height:400px;
}
.socialmedia{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:30px;
    margin-top:30px;
    font-size:20px;
    
}
.socialmedia a{
    text-align:center;
    color:black;
    background-color:rgb(79,173,33);
    border-radius:50%;
    padding:15px;
   
}
.summary{
   display:flex; 
   justify-content:space-between;
   margin:40px;
}

.summary {
    line-height:2;
}
.contact i{
    font-size:18px;
    padding-right:7px;
}
.summary a{
    color:black;
}
.sumhover:hover{
    color:#EF6125;
}
.socialmedia a:hover{
    color:white;
    background-color:#EF6125;
}
.apps{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(79,173,33);
    height:40px;
    padding:10px 20px;
}
.applink img{
    height:40px;
    margin:0px 5px;
    border-radius:6px;
}